<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings>
		<add name="EpiServerDB"
			connectionString="Data Source=LAPTOP-SOCE4KOG;Initial Catalog=epi-revision;User ID=conor-revision;Password=Hejsan123#;Connection Timeout=60;Integrated Security=True;MultipleActiveResultSets=True"
			xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
	</connectionStrings>
	<episerver.find serviceUrl="https://demo01.find.episerver.net/xUpSP3ea6ql9nnWPzQ6TNGsh8F92xFza/"
	 defaultIndex="priyangakulamithra_epimusicfind" xdt:Transform="Replace"/>
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
	</system.web>
</configuration>